---
interface Props {
  title: string;
  description: string;
  tags: string[];
  link: string;
  image?: string;
}

const { title, description, tags, link, image } = Astro.props;
---

<a
  href={link}
  class="card w-full h-80 border-2 border-base-200 hover:border-primary group relative overflow-hidden"
>
  {
    image ? (
      <img
        src={image}
        alt=""
        class="absolute inset-0 w-full h-full object-cover"
      />
    ) : (
      <div class="absolute inset-0 bg-base-100" />
    )
  }

  <div class="absolute inset-0 bg-base-100/90"></div>

  <div class="card-body relative z-10 flex flex-col justify-end">
    <h2 class="card-title text-2xl">{title}</h2>
    <p class="text-sm text-base-content/80 line-clamp-2">{description}</p>

    <div class="card-actions justify-start mt-4">
      {
        tags.map((tag) => (
          <span class="badge badge-neutral badge-sm">{tag}</span>
        ))
      }
    </div>
  </div>
</a>
