---
import { getCollection } from "astro:content";

import ProjectCard from "@/components/ProjectCard.astro";
import Layout from "@/layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout>
  <h1 class="mt-24 mb-8 text-4xl font-logo text-center">Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 container mx-auto">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.data.title}
          description={project.data.description}
          tags={project.data.tags}
          image={project.data.image}
          link={`/projects/${project.id}`}
        />
      ))
    }
  </div>
</Layout>
